.board{
    background-color: lightgoldenrodyellow;
    height: 312px;
    width: 305.5px; 
    border: solid 1px cornflowerblue;
    margin: auto;
}
.top-row, .middle-row, .bottom-row{
    height: 105px;
    width: 306px;
}
.top-left, .top-middle, .top-right , .middle-left, .middle-middle, .middle-right, 
.bottom-left, .bottom-middle, .bottom-right{
    height: 100px;
    width: 100px;
    float: left;
    margin: 1px;
    background-color: cornflowerblue;
    opacity: 100%;

}
