.board{
    background-color: lightgoldenrodyellow;
    height: 312px;
    width: 305.5px; 
    border: solid 1px cornflowerblue;
    margin: auto;
}
.top-row, .middle-row, .bottom-row{
    height: 105px;
    width: 306px;
}
.cell{
    height: 100px;
    width: 100px;
    float: left;
    margin: 1px;
    background-color: cornflowerblue;
    opacity: 100%;
}
